# add this file to ~/.vim/UltiSnips

# add braces for function etc...
snippet {{ "{...}"
{
	${0}
}
endsnippet

snippet { "{...}"                                                                                                                                                                     
{${0}}                                                                                                                                                                                
endsnippet
